:root{
    --body-font: "Source Serif 4", serif;
    --heading-font: "Dancing Script", cursive;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.dancing-script{ /*Headings*/
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 700; /*400-700*/
    font-style: normal;
}

.sources-serif{ /*body text*/
    font-family: "Source Serif 4", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

h1,h2,h3,h4,h5,h6{
    font-family: "Dancing Script", cursive;
    font-weight: 700;
    font-optical-sizing: auto;
    font-style: normal;
}

p, li, a, ul, span, div, section{
    font-family: "Source Serif 4", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

body{
    width: 100%;
    margin: 0 auto;
}

header{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100px;
    padding: 1rem;
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: rgba(245, 222, 179, 0.8);
}

header a{
    color: #000;
}

header div:nth-child(2){
    display: flex;
    flex-direction: column;
    width: 100px;
    justify-self: end;
    margin-right: 2rem;
    justify-content: center;
}

header a{
    text-decoration: none;
}
.social{
    display: flex;
    justify-content: space-around;
}
.social img{
    width: 36px;
}
.social{
    align-content: center;
}

#menuBtn{
    position: absolute;
    top: 1rem;
    right: 0rem;
    padding: .7rem;
    border: 1px solid #000;
    border-radius: .3rem;
}

#menuBtn::before{
    content: "🟰";
}

#navbar.show{
    display: block;
    position: fixed;
    bottom: 0;
    width: 90%;
    height: 89%;
    z-index: 10;
    background-color: #F5DEB3;
}

#navbar{
    display: none;
    flex-direction: column;
    list-style: none;
}
#navbar li{
    flex: 1 1 100%;
}

#navbar a{
    display: block;
    font-family: "Dancing Script", cursive;
    font-weight: 700;
    width:100%;
    height: 48px;
    padding: 1rem;
    text-decoration: none;
    font-size: 2rem;
    color: #000;
}

#navbar a:hover{
    background-color: #00CED1;
    color: #000;
}

.heroContainer{
    position: relative;
}

.heroContainer img{
    width: 100%;
    height: 600px;
    object-fit: cover;
}

.heroContainer button{
    position: absolute;
    bottom: 3rem;
    right: 1rem;
}

.reserveBtn{
    border: none;
    padding: 1rem;
    background-color: #FF6F61;
    border-radius: .5rem;
    font-size: 1.1rem;
}

.reserveBtn:hover{
    background-color: #5F9EA0;
    border: 2px solid #FF6F61;
}

main{
    max-width: 1000px;
    margin: 0 auto;
    padding: 1rem;
}

section{
    margin: 3rem auto;
    text-align: left;
}

section h3{
    text-align: center;
    margin-bottom: 2rem;
    font-size: 1.6rem;
}

section .vehicles{
    display: flex;
    justify-content: space-around;
}

.vehicle-container{
    width: 100px;
    height: 100px;
    background-color: #8D9980;
    border-radius: 50%;
}

.vehicles img{
    width: 70px;
    height: 70px;
    object-fit: contain;
    margin: 16px;
}

.info{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.info h4{
    font-size: 1.6rem;
}

.vehicles-list{
    background-color: #8D9980;
    padding: 1rem;
    position: relative;
    border-radius: 1rem 1rem 0 1rem;
}

.vehicles-list ul{
    list-style-type: none;
}

.vehicles-list li{
    font-size: 1.3rem;
}

.vehicles-list .reserveBtn{
    position: absolute;
    bottom: -40px;
    right: 0;
    background-color: #F5DEB3;
}

#weather{
    width: 100%;
    border: 1px solid #cce;
    display: grid;
    grid-template-columns: auto 1fr 1fr;
}

#weather img{
    margin-right: 2rem;
}

#weather span{
    display: block;
    padding: .2rem;
    margin-left: 1rem;
}

#weather div:nth-child(2){
    border-right: 1px solid #cce;
}

.island-info{
    display: flex;
    flex-direction: column;
    margin-top: 6rem;
}
.island-info p{
    font-size: 1.3rem;
    margin-top: 1rem;;
}

.island-info img{
    width: 100%;
    height: auto;
}

.img-shadow{
    box-shadow: 0 0 8px #5F9EA0;
}

.grid-columns{
    display: grid;
    grid-template-rows: auto;
    gap: 1rem;
    width: 100%;
}

.grid-columns form label, form input{
    display: block;
    font-family: var(--body-font);
    font-size: 1.2rem;
}

.grid-columns fieldset{
    width: 100%;
    border-radius: 8px;
    border: 1px solid #8D9980;
}

.radio label{
    display: inline;
}

.grid-columns legend{
    font-family: var(--body-font);
    margin-left: .5rem;
    font-size: 1.1rem;
    margin-bottom: .3rem;
}

.grid-columns form label{
    margin-left: .5rem;
    font-family: var(--body-font);
    font-size: 1rem;
}

.grid-columns form input{
    margin-bottom: .5rem;
    margin-left: .5rem;
    padding: .3rem;
    width: 95%;
}

.grid-columns textarea{
    width: 95%;
    height: 120px;
    font-family: var(--body-font);
    font-size: 1rem;
    padding: .3rem;
    margin-top: .8rem;
    margin-left: .5rem;
}

.grid-columns form button{
    width: 96%;
    margin: 2%;
    padding: 1rem;
    height: 48px;
    background-color: #8D9980;
    font-family: var(--body-font);
    font-weight: 700;
    font-size: 1rem;
    border: none;
    box-shadow: 0 0 5px #374067; 
}

.grid-columns form input[type="radio"]{
    display: inline;
}

.grid-columns h4{
    font-size: 1.3rem;
}

.grid-columns iframe{
    width: 100%;
    height: 250px;
}

footer{
    margin-top: 2rem;
    padding: 1rem;
    background-color: #F5DEB3;
}

/*rental page*/
.vr-table {
    border: 1px solid #ddd;
}

.vr-table td{
    width: 120px;
}
.vr-table thead{
    background-color: #333;
    color: #fff;
}

.vr-table img{
    width: 100%;
    height: auto;
    object-fit: fill;
    padding: .5rem;
    
}
.vrtable thead tr td{
    margin: 0.5rem;
}

.vr-table tbody tr:nth-child(odd){
    background-color: #eee;
    color: #111;
}

.vr-table tbody tr td:nth-child(1){
    font-weight: 600;
    text-align: left;
    
}

.vr-table tbody tr td{
    padding: .5rem;
}