@media screen and (min-width:700px) {
    nav ul{
        display: flex;
        flex-direction: row;
    }

    .action{
        border-radius: 0.5rem;
        box-shadow: #374067 5px 5px 5px;
        font-weight: bold;
        padding: 1rem;
        border: none;
        background: #FF7F11;
        position: absolute;
        top: 6rem;
        left: 7rem;
    }

    header{
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 1fr;
        margin-left: 2rem;
    }

    header h1{
        padding-block: 0;
        width:500px;
    }

    header >div{
        gap: 0;
    }
    #hmbbtn{
        display: none;
    }

    #wt-container{
        width: 300px;
    }

    #hp-banner{
        height: 200px;
        flex-direction: row;
    }

    #hp-banner img {
        width: auto;
        border-bottom-right-radius: 2rem;
        border-top-right-radius: 0;
    }

    #banner-btn::before{
        content: "✖️";
        font-size: 1.5rem;
    }

    main{
        max-width:1100px;
        margin: 1rem auto;
    }

    .about .info{
        display: grid;
        grid-template-columns: 1fr .5fr;
    }

    .about img{
        width: 400px;
        height: auto;
    }

    .highlights{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
    }

    .highlights section{
        width: 450px; 
    }

    .highlights .info img{
        border-radius: 0.5rem;
        max-width: 500px;
        height: auto;
    }

    .carousel ul{
        overflow-x: auto;
    }

    footer h2{
        text-align: left;
    }

    footer{
    padding: 2rem 5rem; 
    }

    footer > h2{
        font-size: 2rem;
    }
    footer > ul{
        flex-direction: row;
        align-items: start;
    }

    footer div{
        margin: 0 auto;
    }

    .discover-page{
        grid-template-columns: 1fr 1fr;
        gap: .5rem;
    }

    .gallery img {
        min-width: 450px;
        width: 90%;
        max-width: 600px;
        height: auto;
        background-color: #ccc;
    }

    .gallery img:hover{
        box-shadow: 0 0 20px var(--dark-blue);
    }

    .content section img:hover{
        box-shadow: 0 0 15px var(--dark-blue);
    }


    .wf-container{
        grid-template-columns: 1fr 1fr;
        align-items: start;
    }

    .wf-container h2{
        grid-column: 1/3;
    }

    .wf-container section{
        position: sticky;
        top: 0;
    }

    .wf-container section h3{
        padding-top: 0;
    }

    .wf-join{
        margin:0 auto;
        width: 500px;
        max-width: 100%;
        grid-column: 1/2;
    }

    .view-grid section a:hover{
        color: var(--light-blue);
    }

    .view-grid p{
        font-size: .9rem;
    }

    .view-grid section:hover{
        box-shadow: 0 0 25px var(--dark-blue);
    }

    .view-list h3{
        margin-left: 1rem;
    }

    .view-list section:hover{
        border: 1px solid var(--dark-blue);
        box-shadow: 0 0 5px var(--dark-blue);
    }

}