@media screen and (min-width:700px) {
    nav ul{
        display: flex;
        flex-direction: row;
    }

    .action{
        border-radius: 0.5rem;
        box-shadow: #374067 5px 5px 5px;
        font-weight: bold;
        padding: 1rem;
        border: none;
        background: #FF7F11;
        position: absolute;
        top: 6rem;
        left: 7rem;
    }

    .social{
        left: 7rem;
    }

    header{
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 1fr;
        margin-left: 2rem;
    }

    header h1{
        padding-block: 0;
        width:500px;
    }

    header >div{
        gap: 0;
    }
    #hmbbtn{
        display: none;
    }

    main{
        max-width:1100px;
        margin: 1rem auto;
    }

    .about .info{
        display: grid;
        grid-template-columns: 1fr .5fr;
    }

    .about img{
        width: 400px;
        height: auto;
    }

    .highlights{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
    }

    .highlights .info img{
        border-radius: 0.5rem;
        max-width: 500px;
        height: auto;
    }

    .carousel ul{
        overflow-x: hidden;
    }

    footer h2{
        text-align: left;
    }

    footer{
    padding: 2rem 5rem; 
    }

    footer > h2{
        font-size: 2rem;
    }
    footer > ul{
        flex-direction: row;
        align-items: start;
    }

    footer div{
        margin: 0 auto;
    }

    .discover-page{
        grid-template-columns: 1fr 1fr;
        gap: .5rem;
        border: 1px solid black;
    }

    .gallery img:hover{
        box-shadow: 0 0 50px #333;
    }

}